# Virtual environment
venv/
apivenv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Logs and temporary files
*.log
tmp/

# Database files
*.sqlite3

# Editor/IDE settings
.vscode/
.idea/
